<h3>
    {{ visualMediaType === 'tv' ? visualMedia.name : visualMedia.title }}
    <small class="text-muted">{{ visualMediaType === 'tv' ? visualMedia.original_name : visualMedia.original_title }}</small>
    <span class="badge badge-pill badge-info ml-2" *ngIf="visualMediaType === 'movie'">{{visualMedia.release_date | date: "yyyy"}}</span>    
</h3>

<h6><span class="badge badge-pill badge-primary ml-1" *ngFor="let genre of visualMedia.genres">{{genre.name}}</span></h6>

<div class="row">
    <div class="col-md-4">
        <img src="{{ tmdbUrlImages + visualMedia.poster_path }}" class="rounded float-left" alt="...">
    </div>
    <div class="col-md-8">
        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Sinopse
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {{ visualMedia.overview }}
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Produção
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div *ngIf="visualMediaType === 'tv'">
                        <p>Criado por:</p>
                        <ul>
                            <li *ngFor="let creator of visualMedia.created_by"> {{ creator.name }}</li>
                        </ul> 
                        
                        <p>Temporadas: {{ visualMedia.number_of_seasons }}</p> 
                        <p>Episódios: {{ visualMedia.number_of_episodes }}</p>
                    </div>

                    <div *ngIf="visualMediaType === 'movie'">

                        <p>Orçamento: {{ visualMedia.budget | currency }}</p>
                        <p>Data de lançamento: {{ visualMedia.release_date | date }}</p>
                        
                    </div>
               
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Resenhas
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <app-review-form [visualMediaType]="visualMediaType" [visualMediaId]="visualMediaId" />
                </div>
              </div>
            </div>
          </div>
    </div>

    
</div>


