*{padding:0;margin:0;}


.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:10px;
  background-color:#F33;
  color:#FFF;
  border: 1px dotted rgba(130, 130, 130, 0.3);
  border-radius:50px;
  text-align:center;
  z-index:1000;
  animation: bot-to-top 2s ease-out;
}


.fab-btn {
  clear:both;
}


.label-container{
  position:relative;
  bottom:33px;
  right:60px;
  display:table;
  visibility: hidden;
  float:right;
}


.label-text{
  color:#FFF;
  background:rgba(51,51,51,0.5);
  display:table-cell;
  vertical-align:middle;
  padding:5px;
  border-radius:15px;
}


.fab-tooltip{
  position:relative;
  bottom:30px;
  right:70px;
  display:table;
  visibility: hidden;
  float:right;
}


ul{
  position:fixed;
  right:10px;
  padding-bottom:20px;
  bottom:80px;
  z-index:100;
}


ul li{
  list-style:none;
  margin-bottom:10px;
}


ul li button{
  background-color:#F33;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid rgba(130, 130, 130, 0.3);
  width:60px;
  height:60px;
  display:block;
}

.btn-icon{
  font-size:24px;
  margin-top:18px;
}

button#main-button + ul{
  visibility: hidden;
}


button#main-button:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}


ul:hover{
  visibility:visible!important;
  opacity:1!important;
}


button#main-button i{
  animation: rotate-in 0.5s;
}


button#main-button:hover > i{
  animation: rotate-out 0.5s;
}


button.fab-btn>div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}


button.fab-btn:hover>div.label-container{
  visibility: visible;
  opacity: 1;
}


@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}


@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}


@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
