<button class="float fab-btn" id="main-button">
    <i class="btn-icon" [ngClass]="iconClass"></i>
    <div class="label-container">
      <div class="label-text">{{ tooltipText }}</div>
    </div>
</button>

<ul>    
  
    <li *ngFor="let action of actions">
      <button class="fab-btn" (click)="goTo(action.url)">
        <i class="btn-icon" [ngClass]="action.class"></i>
        <div class="label-container">
          <div class="label-text">{{ action.tooltip }}</div>
        </div>
      </button>
    </li>  
  
</ul>