.container-flex {
    display: flex;
    justify-content: safe center ; /* alinha em relação ao eixo principal */
    align-items: safe center ;   /*alinha em relação ao eixo transversal */
    height: 80vh;
    transition: height 0.3s;
    flex-direction: column; /* define a direção do eixo principal */
  }

  
  .container-flex-10  {
    height: 10vh;  
  }
